
<nav class="navbar navbar-light bg-light">
    <div class="mx-auto">
        <button [routerLink]="['tool-bar']" class="btn btn-md btn-outline-primary m-2" type="button">Informacion </button>
        <button [routerLink]="['analytic-graph']" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn btn-md btn-outline-secondary m-2 " type="button"> Estadisticas</button>
    </div>
</nav> 
<!-- <div>
        <button [routerLink]="['/tool-bar', parentMessage]">Elemento</button>
        <button [routerLink]="['analytic-graph']">Grafico</button>
    </div> -->