<div class="container">
    <h1 class="text-center m-5">Luminaria Seleccionado</h1>
    <div class="row">
      <form [formGroup]="form" >
        <div class="form-group col-md-6 offset-md-3">
          <label>observaciones</label>
          <input type="text" formControlName="observaciones" class="form-control"  />
          <label>id_luminaria</label>
          <input type="text" formControlName="id_luminaria" class="form-control"  />
          <label>punto_luz</label>
          <input type="text" formControlName="punto_luz" class="form-control"   />
          <label>vial</label>
          <input type="text" formControlName="vial" class="form-control"  />
          <label>numero</label>
          <input type="text" formControlName="numero" class="form-control"  />
          <label>lado_via</label>
          <input type="text" formControlName="lado_via" class="form-control" />
          <label>distancia_eje</label>
          <input type="text" formControlName="distancia_eje" class="form-control"/>
          <label>s1</label>
          <input type="text" formControlName="s1" class="form-control" />
          <label>s2</label>
          <input type="text" formControlName="s2" class="form-control" />
          <label>centro_mando</label>
          <input type="text" formControlName="centro_mando" class="form-control"/>
          <label>circuito</label>
          <input type="text" formControlName="circuito" class="form-control" />
          <label>operativa</label>
          <input type="text" formControlName="operativa" class="form-control" />
          <label>altura</label>
          <input type="text" formControlName="altura" class="form-control" />
          <label>tipo_soporte</label>
          <input type="text" formControlName="tipo_soporte" class="form-control" />
          <label>marca_soporte</label>
          <input type="text" formControlName="marca_soporte" class="form-control" />
          <label>modelo_soporte</label>
          <input type="text" formControlName="modelo_soporte" class="form-control" />
          <label>estado_soporte</label>
          <input type="text" formControlName="estado_soporte" class="form-control" />
          <label>situacion_soporte</label>
          <input type="text" formControlName="situacion_soporte" class="form-control" />
          <label>tamano_brazo</label>
          <input type="text" formControlName="tamano_brazo" class="form-control" />
          <label>longitud_brazo</label>
          <input type="text" formControlName="longitud_brazo" class="form-control" />
          <label>orientacion_brazo</label>
          <input type="text" formControlName="orientacion_brazo" class="form-control"/>
          <label>tipo_luminaria</label>
          <input type="text" formControlName="tipo_luminaria" class="form-control" />
          <label>marca_luminaria</label>
          <input type="text" formControlName="marca_luminaria" class="form-control" />
          <label>modelo_luminaria</label>
          <input type="text" formControlName="modelo_luminaria" class="form-control" />
          <label>estado_luminaria</label>
          <input type="text" formControlName="estado_luminaria" class="form-control" />
          <label>tipo_lampara</label>
          <input type="text" formControlName="tipo_lampara" class="form-control" />
          <label>marca_lampara</label>
          <input type="text" formControlName="marca_lampara" class="form-control" />
          <label>modelo_lampara</label>
          <input type="text" formControlName="modelo_lampara" class="form-control"/>
          <label>estado_lampara</label>
          <input type="text" formControlName="estado_lampara" class="form-control" />
          <label>cantidad_lamparas</label>
          <input type="text" formControlName="cantidad_lamparas" class="form-control" />
          <label>potencia</label>
          <input type="text" formControlName="potencia" class="form-control" />
          <label>equipo_auxiliar</label>
          <input type="text" formControlName="equipo_auxiliar" class="form-control" />
          <label>situacion_equipo_auxiliar</label>
          <input type="text" formControlName="situacion_equipo_auxiliar" class="form-control" />
          <label>orientacion</label>
          <input type="text" formControlName="orientacion" class="form-control" />
          <label>alta</label>
          <input type="text" formControlName="alta" class="form-control" />
          <label>usuario_alta</label>
          <input type="text" formControlName="usuario_alta" class="form-control" />
          <label>fecha_alta</label>
          <input type="text" formControlName="fecha_alta" class="form-control" />
          <label>modificado</label>
          <input type="text" formControlName="modificado" class="form-control" />
          <label>usuario_modificado</label>
          <input type="text" formControlName="usuario_modificado" class="form-control"/>
          <label>fecha_modificado</label>
          <input type="text" formControlName="fecha_modificado" class="form-control"/>
          <label>herramienta</label>
          <input type="text" formControlName="herramienta" class="form-control" />
          <label>numero_registro</label>
          <input type="text" formControlName="numero_registro" class="form-control" />
          <label>envio</label>
          <input type="text" formControlName="envio" class="form-control" />
          <label>fecha_envio</label>
          <input type="text" formControlName="fecha_envio" class="form-control" />
          <label>id_centro_mando</label>
          <input type="text" formControlName="id_centro_mando" class="form-control" />
          <label>id_circuito</label>
          <input type="text" formControlName="id_circuito" class="form-control" />
          
        </div>
    </form>
    </div>
    
</div>
